*{
    margin: 0;  
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: monospace;
}
.header__container{
    display: flex;
}
.header__titulo{
    display: flex;
    align-items: center;
    margin-left: 400px;
}
.header__titulo > h1{
    font-size: 45px;
}
nav{
    font-size: 20px;
    margin: 2%;
}
.menu-horizontal{
    margin-left: 75%;
    list-style: none;
    display: flex;

}
.menu-horizontal > li > a{
    display: block;
    padding: 15px 20px;
    color: black;
    font-weight: 700;

    text-decoration: none;
}
.menu-horizontal > li:hover{
    background-color: rgb(192, 209, 203);
}
.menu-vertical{
    list-style: none;
    position: absolute;
    display: none;
}

.menu-vertical > li{
    padding-top: 25px;
    font-weight: 500;
}

.menu-vertical > li > a{
    list-style: none;
    color: black;
    text-decoration: none;

}
.menu-horizontal li:hover .menu-vertical{
    display: block;
}
.menu-vertical li:hover{
    background-color: rgb(190, 219, 219);
}

.grid-container{
    margin-left: 10%;
    margin-top: 10px;
    grid-template-rows: 380px ;
    grid-template-columns: 300px 300px 300px 00px ;
    padding: 10px;
    display: grid;
    grid-row:  4fr;
    
}
.grid-item {
    padding:10px;
    width: 300px;
}
.grid-item img{
  max-width: 100%;
  max-height: 300px;
}
.item1{
order: 1;
}
.item2{
order: 2;
}
.item3{
order: 3;    
}
.item4{
order: 4;
}
.item5{
order: 5 ;   
}
.item6{
order: 6;    
}
.item7{
order: 7;
}
.item8{
order: 8;    
}
.main__bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20%;
    margin-top: 2%;
    max-width: 800px;
}
.main__bottom--light{
    margin-top: 3%;
    margin-bottom: 3%;
    font-weight: lighter;
}

.boton{
    border-bottom: solid black 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 10px;
    margin-top: 5px;
}
.main__bottom p{
    margin-left: 10px;
}
.main__bottom--contacto{

    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__ul--enlaces{ /* listado de "enlaces"  para el ejercicio colocados con grid */

    padding-top: 3%;
    padding-left: 12%;
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15%;

}
.footer__li--titulo{
    font-weight: 900;
    font-size: 15px;
}